@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=PT+Mono&family=Roboto+Mono&family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Mono&family=Roboto+Mono&family=Varela+Round&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline:1px solid red; */
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  padding: 0.5em 0;
  font-size: 1.1em;
}
/* .test {
    display:flex;
    flex-direction: row;
    gap:1em;
    flex-wrap: nowrap;
}
.test input{
    width:4ch;
    text-align: center;
} */
